<h1>All Products</h1>
<ul>
  <% @products.each do |prod| %>
    <li>
      <% @products[0].title %>
    </li>
  <%end%>
</ul>

<script>
  rm=document.querySelector(".active");
  rm.classList.remove("active");
  add=document.getElementById("productsLink");
  add.classList.add("active");
</script>
