<style>
    .sm-indent{
        margin-left: .25in;
    }
    .brand-logo {
        height: 2in;
        width: 2.5in;
    }

    .list-group-item {
        background-color: #c59e00;
        padding-left: 10px;
        margin-bottom: 10px;
    }

    div.col-3.logoplace {
        padding: 0in;
        min-width: 200px
    }

    .col.brand-name{
        padding-top: auto;
        padding-bottom: auto;
        margin-left: .5in;
    }
    .container {
        margin: 0in;
    }

</style>

<h1 class="sm-indent"> All Brands</h1>
<div class="list-group">
    <% @brands.each do |brand| %>
      <a class="list-group-item list-group-item-action" href="/brands/<%= brand.id %>" >
        <div class="container">
          <div class="row align-items-start">
            <div class="col-3 logoplace">
              <%= image_tag brand.getimage, class: "brand-logo" %>
            </div>
            <div class="col brand-name">
              <h1><%= brand.name %></h1>
              <p> <%= brand.desc %></p>
            </div>
          </div>
        </div>
      </a>
    <% end %>
  </div>
  

  <script>
   changeNavSelect("brandsLink")
  </script>
